@import url("https://fonts.googleapis.com/css2?family=Joti+One&family=Montserrat&display=swap");

$heading-font: "Joti One", cursive;
$body-font: "Montserrat", sans-serif;

body {
  margin: 0;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
